
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.content-container {
    margin-top: 50px;
}

.hd-desc {
    font-family: 'Caveat', cursive;
    font-size: 25px;
    color: #656565;
}

.blog-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50px auto;
}

.form-g input, .form-g select {
    outline: 2px solid #656565 !important;
    font-size: 20px;
    border: 0px !important;
    font-family: 'Indie Flower', cursive;
}

.form-g label {
    font-family: 'Permanent Marker', cursive;
    font-size: 25px;
}

.form-control:focus, .form-select:focus {
    box-shadow: 0 0 0 0.25rem rgba(101, 101, 101, 0.5) !important;
}

.form-g input[type="range"] {
    width: 100%;
    /* border: 0px !important; */
    outline: 0px !important;
    margin-top: 10px;
}

.range-container {
    display: flex;
    justify-content: space-between;
}

#sections, .sub-secs-range {
    width: 10%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    margin-left: 30px;
}

.sections-detail-container {
    display: flex;
}

.sections-detail-container select {
    width: 20%;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    border-radius: 0px !important;
}

.sections-detail-container input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.subs-container {
    display: flex;
    justify-content: space-between;
    width: 10%;
    text-align: center;
}

.sub-sec-label {
    font-family: Indie Flower, cursive !important;
}

.sub-sec-label + input {
    width: 50%;
    outline: 1px solid #656565 !important;
}

.form-sub {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}

.result-container {
    font-family: Roboto, sans-serif;
}

.result-container h1, .result-container h2, .result-container h3, .result-container h4, .result-container h5, .result-container h6 {
    font-family: 'Roboto', sans-serif;
}